.doc {
    max-width:300px;
    margin: auto;
}

   .content {
    width: 300px;
    border: 2px solid black;
    padding: 10px;
    margin: 1px;
}

   .welcome {
   font-family: input mono compressed, regular;
   font-size: .9vw; 
   text-align: center;
}

   .welcomecont {
   font-family: input mono compressed, regular;
   font-size: .9vw;   
}

   .order {
   font-family: input mono narrow, regular;
   font-size: 1.7vw;
}

   .register {
   font-family: input mono compressed, regular;
   font-size: .9vw;
}

   .sale {
   font-family: input mono condensed, medium;
   font-size: .9vw;
   text-align: center;
}

   .item {
   font-family: input mono compressed, regular;
   font-size: .9vw; 
    
}

   .cardnom {
   font-family: input mono compressed, regular;
   font-size: .9vw; 
}

   .starline1 {
   font-family: input mono compressed, regular;
   font-size: .9vw; 
   text-align: center;  
}

   .visit{
   font-family: input mono condensed, medium;
   font-size: 1vw;
   text-align: center;
}

   .offers {
   font-family: input mono compressed, regular;
   font-size: .9vw; 
   text-align: center;  
}


.upper-left-box {
    
    background-color: lightgray;
    width: 370px;
    height: 370px;
    position:absolute;
    top:0;
    left:0;
    margin: 10px;
    padding: 15px;
}

.upper-right-box {
    
    background-color: lightgray;
    width: 370px;
    height: 370px;
    position:absolute;
    top:0;
    right:0;
    margin: 10px;
    padding: 15px;
}

.lower-middle-box {
  
   background-color: lightgray;
   width: 370px;
   height: 370px;
   position:absolute;
   bottom:0;
   left:38%;
   margin: 10px;
   padding: 15px;
}